﻿@using System.Web.Mvc.Html
@model Model.Hero

@{
    ViewBag.Title = "DeleteHero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteHero</h2>

<h3>Are you sure you want to delete this?</h3>

    <div>
        <h4>Hero</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fitness)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fitness)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mind)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mind)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Empathy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Empathy)
            </dd>

        </dl>
    @using (Html.BeginForm("DeleteHero", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Usuń bohatera" class="btn btn-danger"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
    </div>
