﻿@model Web.ViewModels.HeroViewModel

<div class="panel-body">
    <div class="table">
        <table class="table" cellspacing="0">
            <thead>
            <tr class="table-heads">
                <th>
                    Pseudonim
                </th>
                <th>
                    Zdrowie
                </th>
                <th>
                    Głowa
                </th>
                <th>
                    Uczynność
                </th>
                <th>
                    Suma
                </th>
                <th>
                    Edycja
                </th>
            </tr>
            </thead>
            <tbody>
            <tr id="@Model.HeroID">
                <td>
                    <a href="@Url.Action("EditHero", "Home", new {id = @Model.HeroID})">@Model.Name</a><span> (wiek: </span>@Model.Age<span>)</span>
                </td>
                <td>
                    @Model.Fitness
                </td>
                <td>
                    @Model.Mind
                </td>
                <td>
                    @Model.Empathy
                </td>
                <td>
                    @Model.Stars <span class="oi oi-star"></span>
                </td>
                <td>
                    <a href="@Url.Action("EditHero", "Home", new {id = @Model.HeroID})"><i class="fas fa-user-edit"></i>&nbsp;</a><a href="@Url.Action("DeleteHero", "Home", new {id = @Model.HeroID})"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        
    </div>
</div>
