﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*Bootstrap*@
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    @Html.ActionLink("Bohaterowie", "Index", "Home", new { }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Wrocław", "Index", "Home", new { city = "Wrocław" }, null)</li>
            <li>@Html.ActionLink("Warszawa", "Index", "Home", new { city = "Warszawa" }, null)</li>
            <li>@Html.ActionLink("Lublin", "Index", "Home", new { city = "Lublin" }, null)</li>
        </ul>
    </div>
</nav>
<div>
    @RenderBody()
</div>
@*Scripts*@
@Scripts.Render("~/Scripts/js")
</body>
</html>
